.Editor {
  height: 100vh;
  width: 100vw;
}

.form-control {
  border: none !important;
}

.ql-picker-label {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
}

.saved-text {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}