.list-group-item {
  cursor: pointer;
}

.item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.list-group-item:nth-of-type(n+2):hover {
  background-color: rgba(136, 136, 136, 0.1);
  color: rgb(0, 0, 0);
}

.header-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
}

.header-text:hover {
  color: #5C908F;
}

.new-base-btn,
.recent-base-btn {
  min-width: 100px;
  height: 150px;
  border-radius: 0rem !important;
}


.new-base-btn:hover {
  fill: #EAEAEA;
}

.searchBox {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
  height: calc(1.5em + .75rem) !important;
  border: none !important;
}

.searchBox:focus {
  outline: none !important;
}

.card-body {
  padding: 0.5em !important;
}

.fa-trash {
  color: #565658;
}

.fa-trash:hover {
  color: #5C908F;
}

.fa-caret-down,
.fa-caret-up {
  margin-left: 1em;
}

.Home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 0.0834fr);
  grid-template-rows: repeat(12, 0.0834fr);
}

.navbar-cont {
  grid-row: 1/2;
  grid-column: 1/13;
}

.greeting-cont {
  grid-row: 2/3;
  grid-column: 2/5;
}

.createRecents-cont {
  grid-row: 2/4;
  grid-column: 6/12;
}

.listViewHeader-cont {
  grid-row: 5/7;
  grid-column: 2/12;
}

.listView-cont {
  grid-row: 7/12;
  grid-column: 2/12;
}

.loading-cont {
  grid-row: 7/12;
  grid-column: 2/12;
  margin: auto;
}