.list-group-item {
  cursor: pointer;
}

.item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.list-group-item:nth-of-type(n+2):hover {
  background-color: rgba(136, 136, 136, 0.1);
  color: rgb(0, 0, 0);
}

.header-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}